*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    color:white;
    text-decoration: none;
}
.head{
    height:50px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 550;
}
.menu{
    display: flex;
    flex-flow: row;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
    margin: auto;
}
.menu li{
    margin: auto;
}
.Avatar{
    background-image: url(https://as2.ftcdn.net/v2/jpg/04/12/21/77/1000_F_412217703_eJh9f9CcUUHgLaN3LDIZudkHGxMrcTD7.jpg);
    background-attachment: fixed;
    background-position: bottom;
    height: 350px;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
}
.Avatar img{
    border-radius: 50%;
    border: 2px solid black;
    width: 160px;
}
.Avatar_text{
    background-color: white;
    display: table;
    margin: 10px, auto;
    padding: 10px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 10px;
}
.Avatar p{
    margin: auto;
    margin-top: 10px;
}
.content{
    display: flex;
    margin: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    max-width: 700px;
    padding-top: 30px;
}
.Card_h2{
    font-size: 40px;
    text-align: center;
}
.Card_p{
    font-size: 20px;
    padding: 15px;
    text-align: left;
}
.Card_p:hover{
    border: 1px solid black;
    transition: 1s;
}
.Footer{
    margin: 0;
    margin-left: 0px;
    padding-top: 20px;
}
.Footer_span{
    font-size: 20px;
}
.content_certificates{
    margin: 0;
    padding-top: 50px;
}
.content_certificates h2{
    text-align: center;
    font-size: 40px;
}
.content_certificates_imgs{
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 600px;
}
.Footer_contacts{
    padding-top: 50px;
    text-align: center;
}
.Footer_contacts h2{
    font-size: 40px;
    text-align: center;
}
.Footer_contacts img{
    width: 80px;
}
.name{
    display: block;
}
.menu_main li{
    color: white;
    padding-top: 52px;
    padding-left: 70px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}
.menu_main{
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 0;
    margin-top: -40px;
}
.name h1{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Who_i_am:hover{
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}
.My_projects:hover{
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}
.My_certificates:hover{
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}
@media screen and (min-device-width: 270px) and (max-device-width: 430px) {
    .head{
        height: 70px;
        width: 100%;
    }
    .name h1{
        font-size: 22px;
    }
    .menu_main li{
        padding-left: 10px;
        padding-right: 10px;
    }
    a{
        font-size: 17px;
    }
    .Card_h2{
        font-size: 30px;
    }
    .Footer_contacts h2{
        font-size: 30px;
    }
    .Footer_contacts img{
        width: 60px;
    }
}
@media screen and (min-device-width: 430px) and (max-device-width: 647px) {
    .head{
        height: 70px;
        width: 100%;
    }
    .name h1{
        font-size: 27px;
    }
    .menu_main li{
        padding-left: 10px;
        padding-right: 10px;
    }
    a{
        font-size: 21px;
    }
    .Card_h2{
        font-size: 30px;
    }
    .Footer_contacts h2{
        font-size: 30px;
    }
    .Footer_contacts img{
        width: 60px;
    }
}
@media screen and (min-device-width: 648px) and (max-device-width: 932px) {
    .head{
        height: 70px;
        width: 100%;
    }
    .name h1{
        font-size: 28px;
        padding-top: 16px;
    }
    .menu_main li{
        padding-left: 10px;
        padding-right: 10px;
    }
    a{
        font-size: 20px;
        padding-top: 6px;
    }
    .Card_h2{
        font-size: 30px;
    }
    .Footer_contacts h2{
        font-size: 30px;
    }
    .Footer_contacts img{
        width: 60px;
    }
}